<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Collaborative Scaladoc - {{ page.title }}</title>
    <link href="stylesheets/common.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19832648-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="header" style="margin-bottom:20px">
      <div class="site">
        <div class="logo">
          <a href="/"><img src="images/logo.png" alt="Collaborative Scaladoc" /></a>
        </div>
        <div class="menu">
          <ul style="margin-top:20px">
            <li><a href="http://collaborative-scaladoc.github.com/">Home</a></li>
            <li><a href="http://code.google.com/p/collaborative-scaladoc/downloads/list">Downloads</a></li>
            <li><a href="http://collaborative-scaladoc.lighthouseapp.com/">Issues</a></li>
            <li><a href="http://github.com/collaborative-scaladoc/">Source</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="content" class="site">
      {{ content }}
    </div>
    <div id="footer">
      <div class="site">
        <div class="links">
          <a href="http://groups.google.com/group/collaborative-scaladoc">Mailing List</a>
        </div>
        <p>
         &copy;
          {{ site.time | date: "%Y" }}
          Collaborative Scaladoc.
          All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
